[submodule "external/ext-boost"]
	path = external/ext-boost
	url = https://github.com/Vita3K/ext-boost.git
[submodule "external/openssl"]
	path = external/openssl
	url = https://github.com/janbar/openssl-cmake.git
